h1,h2,h3,span{
font-family: Helvetica;
    font-weight: bold;
}
p{
    font-size:18px;
}

h1{
    font-size: 100px;
    color: khaki;
    text-align: center;  
    background-image: url("../images/image-1.png"); 
}

div h2{
    font-size: 32px;
    color:white;
}

.brush h2{
    background-color: mediumspringgreen;
}

span{
    color:blue;
}

.frames h2{
    background-color: lightcoral;
}

.paint h2{
    background-color: skyblue;
